%form#choose-game(action="/game/world/load" method="post")
  #saved-games
    .saved-game
      %h2 Bate Boys Party
      .play-time 3:14
      %input#load-9034fjsod9f2pncv324090w93q3(type="submit" value="Load this game" name="choice")
  #start-new-game
    %input(type="submit" value="New Game" name="choice")