%form#create-character
  .form-note
    Creating your character is as easy as giving it a name and choosing a class.
  .field
    %label Name
    %input(type="text" name="name")
  .field
    %label Class
    %input(type="text" name="class")
  .field
    %label
    %input(type="submit" value="Create")