#no-javascript.notice
  This game requires extensive use of Javascript, which your browser doesn't support or has disabled.
  If you want to play, you will need to sort that out. For more info read our <a href="/docs/browsers">documentation</a>.
:javascript
  $('#no-javascript').hide(); // Checking for javascript essentially.
#gamearea
  #bendai-enemies
  #bendai-party
    %h2 Party
  #bendai-output
  #bendai-input
    %input(type="text" name="bendai-input-field" value="" id="bendai-input-field")
  #bendai-menu