!!! 5
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title bendai redux
    %link(rel="stylesheet" href="/assets/styles/reset.css" type="text/css" media="screen" charset="utf-8")
    %link(rel="stylesheet" href="/assets/styles/text.css" type="text/css" media="screen" charset="utf-8")
    %link(rel="stylesheet" href="/assets/styles/bendai.css" type="text/css" media="screen" charset="utf-8")
    %link(rel="stylesheet" href="/assets/styles/jquery.gritter.css" type="text/css" media="screen" charset="utf-8")
    %script(type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js")
    - @scripts && @scripts.each do |s|
      %script{:type => "text/javascript",
              "charset" => "utf-8",
              :src => s}
  %body
    #topbar
      .pagewidth
        %img{:src => "/assets/ui/logo.png", :alt => "bendai"}
        #loader
          %img{:src => "/assets/ui/load-arrows.gif", :alt => "loading"}
          %span Loading...
    .pagewidth
      =yield